// ************ GENERAL STYLES ************

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // root font-size: 10px/16px * 100 = 62.5%
}

body {
  background-color: #fff;
  font-family: sans-serif;
  box-sizing: border-box;
}

// ********** HEADER *********

header {
  margin: 2rem 0 8rem 0;
}

.title {
  font-size: 4.8rem;
  text-align: center;
  color: rgb(30, 132, 228);
  margin-bottom: 2rem;
}

.instructions {
  margin: 0 auto;
  max-width: 36rem;
  font-size: 1.6rem;
  color: #333;
}

// ********** MAIN CONTENT **********
// ********** Kana Option Buttons *********

.kana-option-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  cursor: pointer;
}

.hiragana-option-button,
.katakana-option-button {
  background-color: transparent;
  color: rgb(30, 132, 228);
  padding: 1.5rem 12rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: 2px solid rgb(30, 132, 228);
  cursor: pointer;
}

.hiragana-option-button:active,
.katakana-option-button:active {
  background-color: rgb(30, 132, 228);
  color: white;
}

// ********** Kana Columns Grid **********

.kana-column-options {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin: 4rem auto;
  text-align: center;
}

.column-option-title {
  color: rgb(30, 132, 228);
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.select-all-button {
  background-color: transparent;
  color: rgb(30, 132, 228);
  padding: 1rem 6rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: 2px solid rgb(30, 132, 228);
  margin-bottom: 1rem;
  cursor: pointer;
}

.column-options-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;

  button {
    width: 10%;
    background-color: transparent;
    color: rgb(30, 132, 228);
    width: 22rem;
    padding: 1.8rem 0rem;
    font-size: 1.6rem;
    font-weight: bold;
    border: 2px solid rgb(30, 132, 228);
    cursor: pointer;
  }

  .checked-column {
    background-color: rgb(30, 132, 228);
    color: white;
  }
}

.start-quiz-button {
  display: block;
  background-color: transparent;
  color: rgb(30, 132, 228);
  padding: 1.5rem 12rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: 2px solid rgb(30, 132, 228);
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.checked-all,
.checked-kana {
  background-color: rgb(30, 132, 228);
  color: white;
}

// Quiz Section

.quiz-section {
  width: 90%;
  margin: 10rem auto;
}

.quiz-boxes-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.quiz-box {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 20rem;
  flex-direction: column;
  background-color: rgb(30, 132, 228);
  padding: 3rem 0rem;
  border-radius: 2.4rem;
}

.quiz-box-label {
  font-size: 7rem;
  font-weight: 500;
  color: #fff;
}

.quiz-box-input {
  width: 12rem;
  padding: 1rem 0;
  border-radius: 6px;
  border: none;

  font-size: 4rem;
  color: #333;
  text-align: center;
}

.correct {
  background-color: #52d327;

  input {
    color: #777;
    pointer-events: none;
  }
}

.wrong {
  background-color: #d32727;
}
