.quiz-box {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 20rem;
  flex-direction: column;
  background-color: $color-main-blue;
  padding: 3rem 0rem;
  border-radius: 2.4rem;
}

.quiz-box-label {
  font-size: 7rem;
  font-weight: 500;
  color: $color-white;
}

.quiz-box-input {
  width: 12rem;
  padding: 1rem 0;
  border-radius: 6px;
  border: none;

  font-size: 4rem;
  color: $color-dark-grey;
  text-align: center;
}
